<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}

        {{ .Content }}
        
        <div class="box">
        {{- range .Pages }}
            <div class="postlink span-across dark">
                <a class="heading" href="{{ .Permalink }}"><u class="txtWhite">{{ .Name }}</u></a>
                <a class="small">by {{ .Params.author }}, {{ .Date.Format "2006-01-02" }}</a><br>
                <hr>
                <p>
                    {{ .Params.description }}
                </p>
                <hr>
                {{ range .Params.tags }}
                    <a class="tag orange">#{{ . }}</a>                
                {{ end }}
            </div>
        {{- end }}
        </div>

        <div id="content">
        {{- block "main" . }}
        {{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
