<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="box">
            <div class="postlink orange">
                <div class="follow">
                    <h1>{{ .Title }}</h1>
                    <hr>
                    <a><i>by {{ .Params.author }}, {{ .Date.Format "2006-01-02" }}</i></a>
                    <hr>
                    <p>{{ .Params.description }}</p>
                    <hr>
                    {{ range .Params.tags }}
                        <a class="tag dark">#{{ . }}</a>
                    {{ end }}
                </div>
            </div>
            <div class="postlink span-wide dark">
                {{- block "main" . }}
                    <div class="content-inner">{{ .Content }}</div>
                {{- end }}
            </div>
            <aside class="side">
                <div class="orange headdiv">
                    <u><a class="heading">Further Reading</a></u>
                </div>
                {{ with .Site.GetPage "/posts" }}{{ range .Pages.ByDate.Reverse }}
                    <div class="postlink txtWhite dark">
                        <a class="hSmall txtWhite" href="{{.Permalink}}">{{.Title}}</a>
                        <a class="small txtWhite"> | {{.Date.Format "2006-01-02"}} by {{ .Params.author }}</a>
                        <p>
                            {{ .Params.description }}
                        </p>
                        <hr>
                        <div class="post-content">
                            {{ .Content }}
                        </div>
                        <hr>
                        {{ range .Params.tags }}
                            <a class="tag orange">#{{ . }}</a>
                        {{ end }}
                    </div>
                {{ end }} {{ end }}
            </aside>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
