.header {
    padding: 2em;
    display: flex;
}

.titleImg {
    background: url(/trianglify.svg);
    min-height: 10%;
    border-radius: 15px;
    padding: 4em;
    margin-bottom: 3em;
    text-align: center;
}

.imgHeading {
    background-color: #1E2227;
    padding: 0.7em;
    border-radius: 15px;
}

.flexbox-reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-left: 1em;
    padding-top: 0.9em;
}

.link {
    margin-left: 1em;
}