* {
    scrollbar-color: orangered #1E2227;
    color: white;
}

img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #1E2227;
    padding: 0;
    margin: 0;
    color: white;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em 1em;

    background-color: white;
    border-radius: 15px;
    padding: 0.6em;
}

.postlink {
    padding: 1.5em;
    border-radius: 15px;
    color: white;
}

.span {
    grid-column: span 2;
}
 
.span-wide {
    grid-column: span 3;
}

.span-across {
    grid-column: 1/-1;
}

.tag {
    border-radius: 15px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0.5em;
}

.content {
    padding: 1em;
}

.post-content {
    margin-left: 1em;
    max-height: 250px;
    overflow: hidden;
}

.hSmall {
    font-size: 1.5em;
}

.heading {
    font-size: 2em;
}

.small {
    font-size: 0.8em;
}


.txtWhite {
    color: white;
}

.txtDark {
    color: black;
}

.dark {
    background-color: #1E2227;
}

.orange {
    background-color: orangered;
}